/**
 * © 2026 Antonio Caggiano
 * SPDX-License-Identifier: MIT
 */

@media (prefers-color-scheme: dark) {
    :root {
        --background-body: #222;
        --background: #111;
        --background-alt: #333;
        --text-main: #D7CEA4;
    }
}

form {
    padding: 1em;
    border: 1px solid var(--background-alt);
    border-radius: 4px;
}

section {
    padding: 1em;
    border-radius: 4px;
}

.error {
    border: 1px solid darkred;
}
